// ----------
// Footer
// ----------

// Second Footer Nav
// ------------
footer {
  #footer-menu {
    column-count: 2;
    column-gap: .75rem;
    @media screen and (min-width: 768px) {
      column-gap: .25rem;
    }
  }
  #second-footer-menu a {
    text-decoration: none;
  }
}

