// ----------
// Hero Area
// ----------

.ut-hero {
	background-repeat: no-repeat;
}

// Overwrites to match mocks
.ut-hero.hero--blue-bar .hero-subhead, 
.ut-hero.hero--photo-orange-insert .hero-subhead, 
.ut-hero.hero--photo-white-notch .hero-subhead {
	font-size: 1.5625rem;
}

// Hero Area 3
// ------------
.ut-hero.hero--photo-white-notch {
	background-position: top center;
}

@media (max-width: 900px) {
	.ut-hero.hero--half-n-half .hero-img, 
	.ut-hero.hero--photo-gradient, 
	.ut-hero.hero--photo-white-notch {
    height: 40vh;
	}
	.ut-hero.hero--photo-white-notch .ut-btn {
		background-color: $ut-burntorange;
		color: $ut-white;
		font-style: inherit;
		padding: .5rem 1rem;
	}
}

// Hero Area 4
// ------------
@media screen and (min-width: 900px) {
	.ut-hero.hero--blue-bar .hero-callout {
		align-items: flex-start;
	}
}

// Hero Area 4
// ------------
.ut-hero.hero--half-n-half {
	background-size: cover;
}
@media screen and (max-width: 900px) {
	.ut-hero.hero--half-n-half {
		background-position: top center;
	}
}
