// ----------
// Navigation
// ----------

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  width: calc(100% + 1rem);
}

.navbar--mobile-menu {
  width: 80vw;
  height: 100%;
  top: 0;
  z-index: 10;
  transition-duration: 0.3s;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  font-size: 1.25rem;
  a {
    color: $emerus-white;
    text-decoration: none;
  }
}

// Hack to have bootstrap subnav toggle on hover
@media all and (min-width: 992px) {

  .navbar-toggler {
    display: none;
  }

  .collapse:not(.show) {
    display: block;
  }

	.navbar .nav-item .dropdown-menu{ display: none;margin-top:0; }
	// .navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }

}

