// ----------
// Navigation
// ----------

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  width: calc(100% + 1rem);
}

// Hack to have bootstrap subnav toggle on hover
@media all and (min-width: 992px) {

  .navbar-toggler {
    display: none;
  }

  .collapse:not(.show) {
    display: block;
  }

	.navbar .nav-item .dropdown-menu{ display: none; }
	// .navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }

}

