// ----------
// Promo Repeater
// ----------
.promo-repeater {
  // ----------
  // Icon Boxes
  &--icon-box {
    .card-body {
      .ut-h2,
      div {
        color: $emerus-white;
      }

      &:hover,
      &:focus {
        background-color: $emerus-white;
        border-radius: .3rem;
        text-decoration: none;

        div,
        .ut-h2 {
          color: $emerus-orange;
        }
      }
    }
  }
}
