// Promo Units

.promo-unit--card {
    border-radius: 0;
    position: relative;
    &-img {
        border-radius: 0;
    }
    &-link {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 9;
        transition: background-color 0.25s ease;
        a {
            text-decoration: none;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0,0,0,.75);
            &:hover {
                color: #fff;
            }
        }
    }
}
