// Sidebar

.sidebar {
    .menu-sidebar-menu-container {
        font-size: 1.25rem;
        ul.menu {
            padding: 0;
            list-style: none;
            li {
                padding-bottom: .5rem;
                border-bottom: 1px solid $gray-300;
            }
            a {
                text-decoration: none;
            }
            .btn {
                a {
                    color: #fff;
                }
            }
        }
        ul.sub-menu {
            list-style: none;
            margin-top: .75rem;
            li {
                border: none;
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 768px) {
        border-top: 1px solid $gray-300;
        padding-top: 1.5rem;
    }
}
