// ----------
// Swiper Slider
// ----------


.swiper-slide {
    background-size: cover;
    height: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    @media screen and (min-width: 800px) {
        min-height: 360px;
    }
    &--img-overlay {
        // background: rgb(255,255,255);
        // background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0.01) 100%);
        padding: 1rem;
        // width: 90%;
        @media screen and (min-width: 1024px) {
            // background: rgb(255,255,255);
            // background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 100%);
            // width: 45%;
        }
    }
}

// Reduce size of prev and next buttons
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: calc(var(--swiper-navigation-size) / 1.75);
}

