// ----------
// Tab Box
// ----------
.nav-tabs {
  .nav-link {
    border-top: 1px solid transparent;
    border-right: 1px solid $ut-white;
    border-bottom: none;
    border-left: 1px solid $ut-white;
    background-color: $ut-burntorange;
    color: $ut-white;
    font-weight: 600;

    &:hover,
    &:focus {
      background-color: $ut-burntorange--s10;
      border-color: $ut-burntorange--s10 $ut-burntorange--s10;
    }

    &.active {
      background-color: $ut-limestone--t20;
      border-color: $ut-burntorange $ut-burntorange;
    }
  }
}

.tab-content {
  background-color: $ut-limestone--t20;
  border-top: 1px solid $ut-burntorange;
  border-right: 1px solid $ut-burntorange;
  border-left: 1px solid $ut-burntorange;
  border-bottom: 1px solid $ut-burntorange;
  @media (min-width: 900px) {
    border-top: none;
  }
  @media (max-width: 900px) {
    .tab-pane {
      display: block;

      &.fade:not(.show) {
        opacity: 1;
      }
    }
  }
}

.ut-btn--tab-cta {
  display: block;
  text-align: center;

  svg {
    fill: $ut-white;
    height: 1rem;
    width: 1rem;
  }
}

.panel {
  .panel-title {
    position: relative;

    a {
      background-color: $ut-burntorange;
      font-weight: 600;
      color: $ut-white;

      svg {
        fill: $ut-white;
        height: 1.25rem;
        width: 1.25rem;
        position: absolute;
        top: 1rem;
        right: .5rem;
        transform: rotate(45deg);
      }
    }
  }

  .panel-heading--open {
    .panel-title {
      a {
        background-color: $ut-limestone--t20;
        color: $ut-charcoal;
      }

      svg {
        fill: $ut-charcoal;
        transform: rotate(0deg);
      }
    }
  }
  @media (min-width: 900px) {
    .panel-collapse {
      height: auto;

      &.collapse {
        display: block;
      }
    }

    .panel-body {
      .ut-img--fluid {
        height: 75%;
      }
    }
  }
}
