{% include 'partial/footer-bar.twig' %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        &copy; {{"now"|date('Y')}} <a href="{{ site.url }}" class="font-weight-bold">{{ site.name }}</a> All rights reserved.
      </div>
    </div>
  </div>
</section>
