{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
						<section class="article-content py-5">
							<h1 class="article-h1">{{post.title}}</h1>
							<div class="article-body">
								{{post.content}}
							</div>
						</section>
					</article>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
	
	{% if sidebar %}
		{% include "sidebar.twig" with { 'sidebar': sidebar } %}
	{% endif %}

{% endblock %}
