{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<div class="container pb-5">
			<div class="row">
				<div class="col-12 mt-1 mb-3 pt-1 pb-3">
					<h1 class="article-h1 pt-5 pb-4 text-primary text-center border-bottom">{{post.title}}</h1>
				</div>
			</div>
			<section class="row article-content">
				{% if sidebar or secondary_sidebar %}
					{% if default_template %}
						{% include "sidebar.twig" with { 'sidebar': sidebar } %}
					{% else %}
						{% include "sidebar.twig" with { 'sidebar': secondary_sidebar } %}
					{% endif %}
				{% endif %}
				<div class="col-12 col-md-8">
					<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
						<div class="article-body">
							{% include 'partial/flex-content.twig' %}
						</div>
					</article>
				</div>
			</section>
		</div>
	</div><!-- /content-wrapper -->

{% endblock %}
