{% extends "base.twig" %}

{% block content %}

    {% if flex_template %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 mt-1 mb-3 pt-1 pb-3">
                    <h1 class="article-h1 pb-4 text-primary text-center border-bottom">{{post.title}}</h1>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'partial/flex-content.twig' %}

{% endblock %}
