// ----------
// Main Sass File
// ----------

// ----------
// Colors
@import 'utilities/colors';

// ----------
// Bootstrap
@import 'bootstrap-import';
@import 'custom-bootstrap/list-group';

// ----------
// Variables
@import 'utilities/variables';

// Components
@import 'components/alert-banner';
@import 'components/badge';
@import 'components/before_footer_area';
@import 'components/brandbar';
@import 'components/buttons';
@import 'components/detail-boxes';
@import 'components/footer';
@import 'components/header';
@import 'components/hero-area';
@import 'components/navigation';
@import 'components/promo-repeater';
@import 'components/promo-unit';
@import 'components/slider';
@import 'components/social-accounts';
@import 'components/tab-box';
@import 'components/wysiwyg';

// ----------
// Small customizations

// Lists styles
ol,
ul {
  li {
    margin-bottom: .5rem;
    @media (min-width: 900px) {
      margin-bottom: 1rem;
    }
  }
}

.rounded-none {
  border-radius: 0;
}
