//
// Variables For Colors.
//

// ----------
// Primary Palette
$emerus-orange: #bf5700;
$emerus-charcoal: #333f48;
$emerus-white: #fff;

// ----------
// Secondary Colors
$emerus-bluebonnet: #005f86;
$emerus-turquoise: #00a9b7;
$emerus-turtlepond: #579d42;
$emerus-cactus: #a6cd57;
$emerus-shade: #9cadb7;
$emerus-tangerine: #f8971f;
$emerus-limestone: #d6d2c4;
$emerus-sunshine: #ffd600;

// ----------
// Web only utility colors
$emerus-error_red: #cd2026;

// ----------
// Tints and Shades of the Palette
$emerus-bluebonnet--s20: #074d6a;

$emerus-turquoise--s20: #138791;

$emerus-shade--t20: #f9fafb;
$emerus-shade--t40: #e6ebed;
$emerus-shade--t60: #c4cdd4;

$emerus-shade--s20: #7d8a92;
$emerus-shade--s40: #5e686e;
$emerus-shade--s60: #3e4549;

$emerus-turtlepond--s20: #487d39;

$emerus-orange--s10: #ae4f00;
$emerus-orange--s20: #9d4700;

$emerus-charcoal--t20: #ebeced;
$emerus-charcoal--t40: #c2c5c8;
$emerus-charcoal--t60: #858c91;

$emerus-charcoal--s40: #1f262b;

$emerus-limestone--t20: #fbfbf9;
$emerus-limestone--t40: #f2f1ed;
$emerus-limestone--t60: #e6e4dc;

$emerus-limestone--s20: #aba89e;
$emerus-limestone--s40: #807e76;
$emerus-limestone--s60: #56544e;
