// ----------
// Utility Classes
// ----------

// ----------
// Colors

// Customize ut-turquoise--s20
$ut-turquoise--s20: #00808b;

// Generate Color Utility Classes
$ut-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$ut-colors: map-merge(
  (
    'ut-burntorange': $ut-burntorange,
    'ut-charcoal': $ut-charcoal,
    'ut-white': $ut-white,
    'ut-bluebonnet': $ut-bluebonnet,
    'ut-turtlepond': $ut-turtlepond,
    'ut-cactus': $ut-cactus,
    'ut-shade': $ut-shade,
    'ut-tangerine': $ut-tangerine,
    'ut-limestone': $ut-limestone,
    'ut-sunshine': $ut-sunshine,
    'ut-turquoise--s20': $ut-turquoise--s20,
  ),
  $ut-colors
);
// @each $color, $value in $ut-colors {
//   @include text-emphasis-variant(".text-#{$color}", $value, true);
// }
