{% if menu %}
	<ul class="list-unstyled m-0 d-flex justify-content-between">
	{% for item in menu %}
		<li class="flex-fill m-0 h5 {{ item.classes | join(' ') }}">
			<a class="d-block p-3 text-center text-white text-decoration-none" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% if item.children %}
				{% include "partial/menu.twig" with {'items': item.children} %}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
